<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intrusion Detection System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Website Title -->

    <div class="container">
        <img src="{{ url_for('static', filename='NITK_Emblem.png') }}" alt="Intrusion Detection System Image" class="logo">
        <h2 class='container-heading'><span class="heading_font">Network Based Intrusion Detection System</span></h2>
        <h3 class='subheading_font'>Made by Aryaman Surya(211IT011), Vaidaant Thakur(211IT075), Verma Ayush(211IT079) </h3>
        <div class='description'>
            <p>Developing an intrusion detection system leveraging ensemble learning techniques such as Random Forest, Extra Trees, and XGBoost to enhance detection accuracy and robustness</p><br>
            
        </div>
    </div>

    <!-- Text Area -->
    <div class="ml-container">
        <form action="{{ url_for('predict')}}" method="POST">
            
            <label for="selectinput">Select input</label>
            <select id="selectinput" name="selectinput">
          <option selected>----select option----</option>
          <option value="0" selected>input1</option>
          <option value="1">input2</option>
          </select><br>

            <label for="selectModel">Select Model</label>
            <select id="selectModel" name="selectModel">
          <option selected>----select option----</option>
          <option value="0" selected>Decision Trees</option>
          <option value="1">Extra Trees</option>
          <option value="2">Random Forest</option>
          <option value="3">Xg boost</option>
          </select><br>

            <input type="submit" class="my-cta-button" value="Predict">
        </form>
    </div>
    

    <!-- Footer -->
    <div class='footer'>
        <p class='footer-description'>Made by Aryaman Surya(211IT011), Vaidaant Thakur(211IT075), Verma Ayush(211IT079)</p>
    </div>

</body>

</html>